In [69]:
import pandas as pd
import matplotlib.pyplot as plt
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import label_binarize
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
import seaborn as sns

df = pd.read_csv('student_performance.csv')

In [39]:
df.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0

In [13]:
df_copy = df.drop(['Ethnicity', 'StudentID'], axis=1)

In [92]:
df.mean()

StudentID            2196.500000
Age                    16.468645
Gender                  0.510870
Ethnicity               0.877508
ParentalEducation       1.746237
StudyTimeWeekly         9.771992
Absences               14.541388
Tutoring                0.301421
ParentalSupport         2.122074
Extracurricular         0.383361
Sports                  0.303512
Music                   0.196906
Volunteering            0.157191
GPA                     1.906186
GradeClass              2.983696
dtype: float64

In [93]:
df.median()

StudentID            2196.500000
Age                    16.000000
Gender                  1.000000
Ethnicity               0.000000
ParentalEducation       2.000000
StudyTimeWeekly         9.705363
Absences               15.000000
Tutoring                0.000000
ParentalSupport         2.000000
Extracurricular         0.000000
Sports                  0.000000
Music                   0.000000
Volunteering            0.000000
GPA                     1.893393
GradeClass              4.000000
dtype: float64

In [90]:
X = df_copy.drop('GradeClass', axis=1)
y = df_copy['GradeClass']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

catboost_model = CatBoostClassifier(iterations=100, learning_rate=0.1, depth=6, silent=True)
catboost_model.fit(X_train, y_train)

y_score = catboost_model.predict_proba(X_test)

average_roc_auc = roc_auc_score(y_test, y_score, average='macro', multi_class='ovr')
print(f"Средний ROC AUC: {average_roc_auc:.2f}")

Средний ROC AUC: 0.91

In [91]:
train_accuracy = catboost_model.score(X_train, y_train)
test_accuracy = catboost_model.score(X_test, y_test)

print(f"Обучающая точность: {train_accuracy:.2f}")
print(f"Тестовая точность: {test_accuracy:.2f}")

cv_scores = cross_val_score(catboost_model, X, y, cv=5)
print(f"Средняя точность кросс-валидации: {cv_scores.mean():.2f}")

Обучающая точность: 0.93
Тестовая точность: 0.92
Средняя точность кросс-валидации: 0.92